*{
    margin: 0;
    padding:  0 ;
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

body{
    background-image:linear-gradient(to right,#ff0095,#fb00ff,#00dade);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
}

h1{
    font-size: 45px;
    font-weight: 700;
    color: rgb(54, 62, 70);
    text-shadow: 2px 4px #cccccc;
    padding: 0.8%;
}

li{
    list-style-type: none;
    display: inline-block;
}
.container{
    display: flex;
    justify-content: center;
}

.white-bg{
    background-color: #ffffffde;
    border-radius: 4px;
    margin: 20px;
}

.player-1, .player-2{
    width: 40%;
}

.player-head1,.player-head2{
    font-size: 35px;
    margin: 5% auto;
}


/* Mid Body */
.hand{
    height: 250px;
}

img{
    width: 25%;
    margin: 4% auto;
}

.img-1{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.pp1{
    color: #ff0080;
    text-shadow: 1px 1px #cc0000;
    font-weight: 600;
}

.pp2{
    color: #00dade;
    text-shadow: 1px 1px #0066ff;
    font-weight: 600;
}

.pps{
    color: #fb00ff;
    text-shadow: 1px 2px #a501ce;
}

/* Score Tab */
.score{
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.player-1-options img, .player-2-options img{
    width: 40px;
    padding: 3px 8px;
}

.score-player-head{
    font-size: 20px;
}

.res-img{
    width: 12px;
    position: relative;
    top: 4.8px;
    left: 6px;
}

.restart{
    cursor: pointer;
}

/* Score */

#score li{
    font-size: 30px;
    padding: 4px;
}

/* ================== */
/* RESPONSIVE */
/* =============== */

@media(max-width:1100px){
    .hand{
        height: 150px;
    }

}
@media(max-width:700px){

    .hand{
        height: 90px;
    }
    h1{
        font-size: 30px;
    }
    .pps{
        align-self: center;
    }
    .sev{
        display: flex;
        flex-direction: column;
    }
    .player-head1,.player-head2{
        font-size: 15px;
    }
    #score li{
        font-size: 15px;
    }

}
